<<pipenv>> <<4:27-33>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<utils>> <<4:34-39>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<pipenv>> <<5:109-115>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<vendor>> <<5:116-122>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<requirements_from_deps>> <<8:142-164>> <<function>> <<FUNCTION>> <<ANCHOR>>
<<generate_requirements>> <<44:1444-1465>> <<function>> <<FUNCTION>> <<ANCHOR>>
<<project>> <<45:1471-1474>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<dev>> <<46:1484-1487>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<dev_only>> <<47:1499-1502>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<include_hashes>> <<48:1519-1522>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<include_markers>> <<49:1545-1548>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<categories>> <<50:1571-1574>> <<str>> <<PARAMETER>> <<ANCHOR>>
<<lockfile>> <<52:1593-1601>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<i>> <<54:1658-1659>> <<?>> <<SCOPE>> <<ANCHOR>>
<<package_index>> <<54:1661-1674>> <<?>> <<SCOPE>> <<ANCHOR>>
<<prefix>> <<55:1727-1733>> <<str>> <<VARIABLE>> <<ANCHOR>>
<<deps>> <<58:1842-1846>> <<dict>> <<VARIABLE>> <<ANCHOR>>
<<categories_list>> <<59:1856-1871>> <<list>> <<VARIABLE>> <<ANCHOR>>
<<category>> <<62:1964-1972>> <<?>> <<SCOPE>> <<ANCHOR>>
<<category>> <<63:2005-2013>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<deps>> <<8:165-168>> <<dict>> <<PARAMETER>> <<ANCHOR>>
<<include_hashes>> <<8:171-174>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<include_markers>> <<8:192-195>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<pip_packages>> <<9:219-231>> <<list>> <<VARIABLE>> <<ANCHOR>>
<<package_name>> <<11:246-258>> <<?>> <<SCOPE>> <<ANCHOR>>
<<package_info>> <<11:260-272>> <<?>> <<SCOPE>> <<ANCHOR>>
<<git>> <<14:372-375>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<ref>> <<15:410-413>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<extras>> <<16:456-462>> <<str>> <<VARIABLE>> <<ANCHOR>>
<<click>> <<5:130-135>> <<module>> <<VARIABLE>> <<LINK>>
<<project>> <<52:1604-1611>> <<?>> <<VARIABLE>> <<LINK>>
<<lockfile>> <<54:1688-1696>> <<?>> <<VARIABLE>> <<LINK>>
<<i>> <<55:1744-1745>> <<?>> <<VARIABLE>> <<LINK>>
<<click>> <<56:1784-1789>> <<module>> <<VARIABLE>> <<LINK>>
<<prefix>> <<56:1805-1811>> <<str>> <<VARIABLE>> <<LINK>>
<<package_index>> <<56:1813-1826>> <<?>> <<VARIABLE>> <<LINK>>
<<categories>> <<59:1908-1918>> <<str>> <<VARIABLE>> <<LINK>>
<<categories>> <<59:1893-1903>> <<str>> <<VARIABLE>> <<LINK>>
<<categories_list>> <<61:1935-1950>> <<list>> <<VARIABLE>> <<LINK>>
<<categories_list>> <<62:1976-1991>> <<list>> <<VARIABLE>> <<LINK>>
<<category>> <<63:2060-2068>> <<?>> <<VARIABLE>> <<LINK>>
<<deps>> <<64:2090-2094>> <<dict>> <<VARIABLE>> <<LINK>>
<<lockfile>> <<64:2102-2110>> <<?>> <<VARIABLE>> <<LINK>>
<<category>> <<64:2115-2123>> <<?>> <<VARIABLE>> <<LINK>>
<<dev>> <<66:2151-2154>> <<?>> <<VARIABLE>> <<LINK>>
<<dev_only>> <<66:2158-2166>> <<?>> <<VARIABLE>> <<LINK>>
<<deps>> <<67:2180-2184>> <<dict>> <<VARIABLE>> <<LINK>>
<<lockfile>> <<67:2192-2200>> <<?>> <<VARIABLE>> <<LINK>>
<<dev_only>> <<68:2228-2236>> <<?>> <<VARIABLE>> <<LINK>>
<<deps>> <<69:2250-2254>> <<dict>> <<VARIABLE>> <<LINK>>
<<lockfile>> <<69:2262-2270>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_from_deps>> <<71:2312-2334>> <<function>> <<VARIABLE>> <<LINK>>
<<deps>> <<72:2344-2348>> <<dict>> <<VARIABLE>> <<LINK>>
<<include_hashes>> <<72:2365-2379>> <<?>> <<VARIABLE>> <<LINK>>
<<include_markers>> <<72:2397-2412>> <<?>> <<VARIABLE>> <<LINK>>
<<deps>> <<11:276-280>> <<dict>> <<VARIABLE>> <<LINK>>
<<package_info>> <<13:346-358>> <<?>> <<VARIABLE>> <<LINK>>
<<package_info>> <<14:378-390>> <<?>> <<VARIABLE>> <<LINK>>
<<package_info>> <<15:416-428>> <<?>> <<VARIABLE>> <<LINK>>
<<package_info>> <<18:570-582>> <<?>> <<VARIABLE>> <<LINK>>
<<package_info>> <<17:506-518>> <<?>> <<VARIABLE>> <<LINK>>
