<<test_requirements>> <<9:254-271>> <<function>> <<FUNCTION>> <<ANCHOR>>
<<lit_home>> <<9:272-275>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<version>> <<9:282-285>> <<str>> <<PARAMETER>> <<ANCHOR>>
<<model_name>> <<9:306-309>> <<str>> <<PARAMETER>> <<ANCHOR>>
<<requirements_list>> <<10:346-363>> <<list>> <<VARIABLE>> <<ANCHOR>>
<<req_folder_path>> <<23:689-704>> <<str>> <<VARIABLE>> <<ANCHOR>>
<<req_file>> <<27:1028-1036>> <<file>> <<VARIABLE>> <<ANCHOR>>
<<reqs>> <<28:1047-1051>> <<list>> <<VARIABLE>> <<ANCHOR>>
<<req>> <<29:1112-1115>> <<str>> <<SCOPE>> <<ANCHOR>>
<<reqs>> <<29:1084-1088>> <<list>> <<VARIABLE>> <<ANCHOR>>
<<model_name>> <<13:438-448>> <<str>> <<VARIABLE>> <<LINK>>
<<version>> <<14:467-474>> <<str>> <<VARIABLE>> <<LINK>>
<<requirements_list>> <<16:528-545>> <<list>> <<VARIABLE>> <<LINK>>
<<version>> <<21:673-680>> <<str>> <<VARIABLE>> <<LINK>>
<<lit_home>> <<23:720-728>> <<?>> <<VARIABLE>> <<LINK>>
<<model_name>> <<23:761-771>> <<str>> <<VARIABLE>> <<LINK>>
<<version>> <<23:773-780>> <<str>> <<VARIABLE>> <<LINK>>
<<req_folder_path>> <<24:808-823>> <<str>> <<VARIABLE>> <<LINK>>
<<req_folder_path>> <<24:842-857>> <<str>> <<VARIABLE>> <<LINK>>
<<req_folder_path>> <<25:903-918>> <<str>> <<VARIABLE>> <<LINK>>
<<req_folder_path>> <<25:952-967>> <<str>> <<VARIABLE>> <<LINK>>
<<req_file>> <<28:1054-1062>> <<file>> <<VARIABLE>> <<LINK>>
<<reqs>> <<29:1119-1123>> <<list>> <<VARIABLE>> <<LINK>>
<<req>> <<29:1112-1115>> <<str>> <<VARIABLE>> <<LINK>>
<<req>> <<29:1092-1095>> <<str>> <<VARIABLE>> <<LINK>>
<<requirements_list>> <<31:1139-1156>> <<list>> <<VARIABLE>> <<LINK>>
<<reqs>> <<31:1160-1164>> <<list>> <<VARIABLE>> <<LINK>>
