<<__future__>> <<1:5-15>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<Constraint>> <<7:112-122>> <<type>> <<CLASS>> <<ANCHOR>>
<<__call__>> <<8:141-149>> <<function>> <<METHOD>> <<ANCHOR>>
<<get_config>> <<11:189-199>> <<function>> <<METHOD>> <<ANCHOR>>
<<MaxNorm>> <<15:268-275>> <<type>> <<CLASS>> <<ANCHOR>>
<<__init__>> <<16:298-306>> <<function>> <<CONSTRUCTOR>> <<ANCHOR>>
<<__call__>> <<19:350-358>> <<function>> <<METHOD>> <<ANCHOR>>
<<get_config>> <<25:535-545>> <<function>> <<METHOD>> <<ANCHOR>>
<<NonNeg>> <<30:644-650>> <<type>> <<CLASS>> <<ANCHOR>>
<<__call__>> <<31:673-681>> <<function>> <<METHOD>> <<ANCHOR>>
<<UnitNorm>> <<37:777-785>> <<type>> <<CLASS>> <<ANCHOR>>
<<__call__>> <<38:808-816>> <<function>> <<METHOD>> <<ANCHOR>>
<<identity>> <<41:894-902>> <<type>> <<SCOPE>> <<ANCHOR>>
<<maxnorm>> <<42:917-924>> <<type>> <<SCOPE>> <<ANCHOR>>
<<nonneg>> <<43:936-942>> <<type>> <<SCOPE>> <<ANCHOR>>
<<unitnorm>> <<44:953-961>> <<type>> <<SCOPE>> <<ANCHOR>>
<<utils>> <<46:982-987>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<generic_utils>> <<46:988-1001>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<get>> <<47:1030-1033>> <<function>> <<FUNCTION>> <<ANCHOR>>
<<self>> <<16:307-310>> <<MaxNorm>> <<PARAMETER>> <<ANCHOR>>
<<m>> <<16:313-316>> <<int>> <<PARAMETER>> <<ANCHOR>>
<<m>> <<17:333-334>> <<int>> <<ATTRIBUTE>> <<ANCHOR>>
<<self>> <<8:150-153>> <<Constraint>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<8:156-159>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<self>> <<19:359-362>> <<MaxNorm>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<19:365-368>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<norms>> <<20:378-383>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<desired>> <<21:427-434>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<p>> <<22:471-472>> <<float>> <<VARIABLE>> <<ANCHOR>>
<<self>> <<38:817-820>> <<UnitNorm>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<38:823-826>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<self>> <<25:546-549>> <<MaxNorm>> <<PARAMETER>> <<ANCHOR>>
<<self>> <<11:200-203>> <<Constraint>> <<PARAMETER>> <<ANCHOR>>
<<self>> <<31:682-685>> <<NonNeg>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<31:688-691>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<32:701-702>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<p>> <<33:731-732>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<identifier>> <<47:1034-1037>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<kwargs>> <<47:1046-1049>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<absolute_import>> <<1:23-38>> <<_Feature>> <<VARIABLE>> <<LINK>>
<<Constraint>> <<15:276-286>> <<type>> <<VARIABLE>> <<LINK>>
<<Constraint>> <<30:651-661>> <<type>> <<VARIABLE>> <<LINK>>
<<Constraint>> <<37:786-796>> <<type>> <<VARIABLE>> <<LINK>>
<<Constraint>> <<41:905-915>> <<type>> <<VARIABLE>> <<LINK>>
<<MaxNorm>> <<42:927-934>> <<type>> <<VARIABLE>> <<LINK>>
<<NonNeg>> <<43:945-951>> <<type>> <<VARIABLE>> <<LINK>>
<<UnitNorm>> <<44:964-972>> <<type>> <<VARIABLE>> <<LINK>>
<<get_from_module>> <<46:1009-1024>> <<function>> <<VARIABLE>> <<LINK>>
<<m>> <<17:337-338>> <<int>> <<VARIABLE>> <<LINK>>
<<self>> <<17:328-332>> <<MaxNorm>> <<VARIABLE>> <<LINK>>
<<p>> <<9:176-177>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<20:405-406>> <<?>> <<VARIABLE>> <<LINK>>
<<norms>> <<21:444-449>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<21:454-458>> <<MaxNorm>> <<VARIABLE>> <<LINK>>
<<p>> <<22:475-476>> <<?>> <<VARIABLE>> <<LINK>>
<<desired>> <<22:480-487>> <<?>> <<VARIABLE>> <<LINK>>
<<norms>> <<22:498-503>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<23:522-523>> <<float>> <<VARIABLE>> <<LINK>>
<<p>> <<39:843-844>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<39:860-861>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<26:578-582>> <<MaxNorm>> <<VARIABLE>> <<LINK>>
<<self>> <<27:625-629>> <<MaxNorm>> <<VARIABLE>> <<LINK>>
<<self>> <<12:232-236>> <<Constraint>> <<VARIABLE>> <<LINK>>
<<p>> <<32:719-720>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<33:731-732>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<33:741-742>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<34:764-765>> <<?>> <<VARIABLE>> <<LINK>>
<<get_from_module>> <<48:1072-1087>> <<function>> <<VARIABLE>> <<LINK>>
<<identifier>> <<48:1088-1098>> <<?>> <<VARIABLE>> <<LINK>>
<<kwargs>> <<48:1150-1156>> <<?>> <<VARIABLE>> <<LINK>>
