<<urllib>> <<7:212-218>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<pipenv>> <<10:283-289>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<patched>> <<10:290-297>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<pip>> <<10:298-301>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<_vendor>> <<10:302-309>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<pyparsing>> <<10:310-319>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<InvalidRequirement>> <<27:609-627>> <<type>> <<CLASS>> <<ANCHOR>>
<<ALPHANUM>> <<33:728-736>> <<?>> <<SCOPE>> <<ANCHOR>>
<<LBRACKET>> <<35:783-791>> <<?>> <<SCOPE>> <<ANCHOR>>
<<RBRACKET>> <<36:812-820>> <<?>> <<SCOPE>> <<ANCHOR>>
<<LPAREN>> <<37:841-847>> <<?>> <<SCOPE>> <<ANCHOR>>
<<RPAREN>> <<38:868-874>> <<?>> <<SCOPE>> <<ANCHOR>>
<<COMMA>> <<39:895-900>> <<?>> <<SCOPE>> <<ANCHOR>>
<<SEMICOLON>> <<40:921-930>> <<?>> <<SCOPE>> <<ANCHOR>>
<<AT>> <<41:951-953>> <<?>> <<SCOPE>> <<ANCHOR>>
<<PUNCTUATION>> <<43:975-986>> <<?>> <<SCOPE>> <<ANCHOR>>
<<IDENTIFIER_END>> <<44:1001-1015>> <<?>> <<SCOPE>> <<ANCHOR>>
<<IDENTIFIER>> <<45:1066-1076>> <<?>> <<SCOPE>> <<ANCHOR>>
<<NAME>> <<47:1127-1131>> <<?>> <<SCOPE>> <<ANCHOR>>
<<EXTRA>> <<48:1153-1158>> <<?>> <<SCOPE>> <<ANCHOR>>
<<URI>> <<50:1173-1176>> <<?>> <<SCOPE>> <<ANCHOR>>
<<URL>> <<51:1202-1205>> <<?>> <<SCOPE>> <<ANCHOR>>
<<EXTRAS_LIST>> <<53:1218-1229>> <<?>> <<SCOPE>> <<ANCHOR>>
<<EXTRAS>> <<54:1266-1272>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_PEP440>> <<56:1332-1346>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_LEGACY>> <<57:1405-1419>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_ONE>> <<59:1485-1496>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_MANY>> <<60:1531-1543>> <<?>> <<SCOPE>> <<ANCHOR>>
<<_VERSION_SPEC>> <<63:1652-1665>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_SPEC>> <<66:1791-1803>> <<?>> <<SCOPE>> <<ANCHOR>>
<<MARKER_EXPR>> <<69:1901-1912>> <<?>> <<SCOPE>> <<ANCHOR>>
<<MARKER_SEPARATOR>> <<73:2053-2069>> <<?>> <<SCOPE>> <<ANCHOR>>
<<MARKER>> <<74:2082-2088>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_AND_MARKER>> <<76:2123-2141>> <<?>> <<SCOPE>> <<ANCHOR>>
<<URL_AND_MARKER>> <<77:2176-2190>> <<?>> <<SCOPE>> <<ANCHOR>>
<<NAMED_REQUIREMENT>> <<79:2217-2234>> <<?>> <<SCOPE>> <<ANCHOR>>
<<REQUIREMENT>> <<81:2302-2313>> <<?>> <<SCOPE>> <<ANCHOR>>
<<Requirement>> <<87:2490-2501>> <<type>> <<CLASS>> <<ANCHOR>>
<<__init__>> <<100:2996-3004>> <<function>> <<CONSTRUCTOR>> <<ANCHOR>>
<<__str__>> <<125:4119-4126>> <<function>> <<METHOD>> <<ANCHOR>>
<<__repr__>> <<145:4626-4634>> <<function>> <<METHOD>> <<ANCHOR>>
<<self>> <<100:3005-3008>> <<Requirement>> <<PARAMETER>> <<ANCHOR>>
<<requirement_string>> <<100:3011-3014>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<req>> <<102:3070-3073>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<parsed_url>> <<110:3363-3373>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<self>> <<125:4127-4130>> <<Requirement>> <<PARAMETER>> <<ANCHOR>>
<<formatted_extras>> <<129:4217-4233>> <<str>> <<VARIABLE>> <<ANCHOR>>
<<s>> <<64:1762-1765>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<l>> <<64:1765-1768>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<t>> <<64:1768-1771>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<self>> <<145:4635-4638>> <<Requirement>> <<PARAMETER>> <<ANCHOR>>
<<s>> <<71:1995-1998>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<l>> <<71:1998-2001>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<t>> <<71:2001-2004>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<s>> <<67:1885-1888>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<l>> <<67:1888-1891>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<t>> <<67:1891-1894>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<ALPHANUM>> <<44:1018-1026>> <<?>> <<VARIABLE>> <<LINK>>
<<PUNCTUATION>> <<44:1041-1052>> <<?>> <<VARIABLE>> <<LINK>>
<<ALPHANUM>> <<44:1056-1064>> <<?>> <<VARIABLE>> <<LINK>>
<<ALPHANUM>> <<45:1087-1095>> <<?>> <<VARIABLE>> <<LINK>>
<<IDENTIFIER_END>> <<45:1109-1123>> <<?>> <<VARIABLE>> <<LINK>>
<<IDENTIFIER>> <<47:1134-1144>> <<?>> <<VARIABLE>> <<LINK>>
<<IDENTIFIER>> <<48:1161-1171>> <<?>> <<VARIABLE>> <<LINK>>
<<AT>> <<51:1208-1210>> <<?>> <<VARIABLE>> <<LINK>>
<<URI>> <<51:1213-1216>> <<?>> <<VARIABLE>> <<LINK>>
<<EXTRA>> <<53:1232-1237>> <<?>> <<VARIABLE>> <<LINK>>
<<COMMA>> <<53:1251-1256>> <<?>> <<VARIABLE>> <<LINK>>
<<EXTRA>> <<53:1259-1264>> <<?>> <<VARIABLE>> <<LINK>>
<<LBRACKET>> <<54:1276-1284>> <<?>> <<VARIABLE>> <<LINK>>
<<EXTRAS_LIST>> <<54:1296-1307>> <<?>> <<VARIABLE>> <<LINK>>
<<RBRACKET>> <<54:1311-1319>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_PEP440>> <<59:1499-1513>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_LEGACY>> <<59:1516-1530>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_ONE>> <<61:1559-1570>> <<?>> <<VARIABLE>> <<LINK>>
<<COMMA>> <<61:1584-1589>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_ONE>> <<61:1592-1603>> <<?>> <<VARIABLE>> <<LINK>>
<<LPAREN>> <<63:1678-1684>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_MANY>> <<63:1687-1699>> <<?>> <<VARIABLE>> <<LINK>>
<<RPAREN>> <<63:1702-1708>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_MANY>> <<63:1712-1724>> <<?>> <<VARIABLE>> <<LINK>>
<<_VERSION_SPEC>> <<64:1726-1739>> <<?>> <<VARIABLE>> <<LINK>>
<<_VERSION_SPEC>> <<66:1822-1835>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_SPEC>> <<67:1850-1862>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER_EXPR>> <<70:1956-1967>> <<?>> <<VARIABLE>> <<LINK>>
<<SEMICOLON>> <<73:2072-2081>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER_SEPARATOR>> <<74:2091-2107>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER_EXPR>> <<74:2110-2121>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_SPEC>> <<76:2144-2156>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER>> <<76:2168-2174>> <<?>> <<VARIABLE>> <<LINK>>
<<URL>> <<77:2193-2196>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER>> <<77:2208-2214>> <<?>> <<VARIABLE>> <<LINK>>
<<NAME>> <<79:2237-2241>> <<?>> <<VARIABLE>> <<LINK>>
<<EXTRAS>> <<79:2253-2259>> <<?>> <<VARIABLE>> <<LINK>>
<<URL_AND_MARKER>> <<79:2264-2278>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_AND_MARKER>> <<79:2281-2299>> <<?>> <<VARIABLE>> <<LINK>>
<<NAMED_REQUIREMENT>> <<81:2330-2347>> <<?>> <<VARIABLE>> <<LINK>>
<<REQUIREMENT>> <<84:2451-2462>> <<?>> <<VARIABLE>> <<LINK>>
<<REQUIREMENT>> <<102:3076-3087>> <<?>> <<VARIABLE>> <<LINK>>
<<requirement_string>> <<102:3100-3118>> <<?>> <<VARIABLE>> <<LINK>>
<<req>> <<109:3342-3345>> <<?>> <<VARIABLE>> <<LINK>>
<<urllib>> <<110:3376-3382>> <<module>> <<VARIABLE>> <<LINK>>
<<req>> <<110:3398-3401>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<111:3422-3432>> <<?>> <<VARIABLE>> <<LINK>>
<<urllib>> <<112:3470-3476>> <<module>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<112:3494-3504>> <<?>> <<VARIABLE>> <<LINK>>
<<req>> <<112:3509-3512>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<114:3606-3616>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<114:3628-3638>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<115:3672-3682>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<115:3698-3708>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<128:4192-4196>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<self>> <<129:4252-4256>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<self>> <<132:4328-4332>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<self>> <<133:4373-4377>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<self>> <<135:4402-4406>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<self>> <<137:4469-4473>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<self>> <<140:4528-4532>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<t>> <<64:1771-1772>> <<?>> <<VARIABLE>> <<LINK>>
<<s>> <<71:2011-2012>> <<?>> <<VARIABLE>> <<LINK>>
<<t>> <<71:2013-2014>> <<?>> <<VARIABLE>> <<LINK>>
<<t>> <<71:2033-2034>> <<?>> <<VARIABLE>> <<LINK>>
<<t>> <<67:1894-1895>> <<?>> <<VARIABLE>> <<LINK>>
