<<poetry>> <<18:576-582>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<semver>> <<18:583-589>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<markers>> <<20:623-630>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<markers>> <<21:657-664>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<LEGACY_REGEX>> <<24:690-702>> <<str>> <<SCOPE>> <<ANCHOR>>
<<REGEX>> <<37:1163-1168>> <<str>> <<SCOPE>> <<ANCHOR>>
<<InvalidRequirement>> <<131:5462-5480>> <<type>> <<CLASS>> <<ANCHOR>>
<<ALPHANUM>> <<137:5587-5595>> <<?>> <<SCOPE>> <<ANCHOR>>
<<LBRACKET>> <<139:5644-5652>> <<?>> <<SCOPE>> <<ANCHOR>>
<<RBRACKET>> <<140:5674-5682>> <<?>> <<SCOPE>> <<ANCHOR>>
<<LPAREN>> <<141:5704-5710>> <<?>> <<SCOPE>> <<ANCHOR>>
<<RPAREN>> <<142:5732-5738>> <<?>> <<SCOPE>> <<ANCHOR>>
<<COMMA>> <<143:5760-5765>> <<?>> <<SCOPE>> <<ANCHOR>>
<<SEMICOLON>> <<144:5787-5796>> <<?>> <<SCOPE>> <<ANCHOR>>
<<AT>> <<145:5818-5820>> <<?>> <<SCOPE>> <<ANCHOR>>
<<PUNCTUATION>> <<147:5844-5855>> <<?>> <<SCOPE>> <<ANCHOR>>
<<IDENTIFIER_END>> <<148:5871-5885>> <<?>> <<SCOPE>> <<ANCHOR>>
<<IDENTIFIER>> <<149:5937-5947>> <<?>> <<SCOPE>> <<ANCHOR>>
<<NAME>> <<151:6000-6004>> <<?>> <<SCOPE>> <<ANCHOR>>
<<EXTRA>> <<152:6027-6032>> <<?>> <<SCOPE>> <<ANCHOR>>
<<URI>> <<154:6049-6052>> <<?>> <<SCOPE>> <<ANCHOR>>
<<URL>> <<155:6079-6082>> <<?>> <<SCOPE>> <<ANCHOR>>
<<EXTRAS_LIST>> <<157:6097-6108>> <<?>> <<SCOPE>> <<ANCHOR>>
<<EXTRAS>> <<158:6146-6152>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_PEP440>> <<160:6214-6228>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_LEGACY>> <<161:6273-6287>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_ONE>> <<163:6341-6352>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_MANY>> <<164:6388-6400>> <<?>> <<SCOPE>> <<ANCHOR>>
<<_VERSION_SPEC>> <<167:6512-6525>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_SPEC>> <<170:6656-6668>> <<?>> <<SCOPE>> <<ANCHOR>>
<<MARKER_EXPR>> <<173:6769-6780>> <<?>> <<SCOPE>> <<ANCHOR>>
<<MARKER_SEPARATOR>> <<177:6931-6947>> <<?>> <<SCOPE>> <<ANCHOR>>
<<MARKER>> <<178:6961-6967>> <<?>> <<SCOPE>> <<ANCHOR>>
<<VERSION_AND_MARKER>> <<180:7004-7022>> <<?>> <<SCOPE>> <<ANCHOR>>
<<URL_AND_MARKER>> <<181:7058-7072>> <<?>> <<SCOPE>> <<ANCHOR>>
<<NAMED_REQUIREMENT>> <<183:7101-7118>> <<?>> <<SCOPE>> <<ANCHOR>>
<<REQUIREMENT>> <<185:7188-7199>> <<?>> <<SCOPE>> <<ANCHOR>>
<<Requirement>> <<188:7257-7268>> <<type>> <<CLASS>> <<ANCHOR>>
<<__init__>> <<196:7499-7507>> <<function>> <<CONSTRUCTOR>> <<ANCHOR>>
<<__str__>> <<227:8585-8592>> <<function>> <<METHOD>> <<ANCHOR>>
<<__repr__>> <<244:9019-9027>> <<function>> <<METHOD>> <<ANCHOR>>
<<s>> <<168:6625-6628>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<l>> <<168:6628-6631>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<t>> <<168:6631-6634>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<self>> <<196:7508-7511>> <<Requirement>> <<PARAMETER>> <<ANCHOR>>
<<requirement_string>> <<196:7514-7517>> <<str>> <<PARAMETER>> <<ANCHOR>>
<<req>> <<198:7562-7565>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<name>> <<206:7868-7872>> <<?>> <<ATTRIBUTE>> <<ANCHOR>>
<<parsed_url>> <<208:7918-7928>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<url>> <<213:8187-8190>> <<?>> <<ATTRIBUTE>> <<ANCHOR>>
<<url>> <<215:8234-8237>> <<?>> <<ATTRIBUTE>> <<ANCHOR>>
<<extras>> <<217:8261-8267>> <<?>> <<ATTRIBUTE>> <<ANCHOR>>
<<constraint>> <<218:8326-8336>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<constraint>> <<220:8394-8404>> <<str>> <<VARIABLE>> <<ANCHOR>>
<<constraint>> <<222:8427-8437>> <<{VersionUnion||VersionRange||EmptyConstraint}>> <<ATTRIBUTE>> <<ANCHOR>>
<<pretty_constraint>> <<223:8483-8500>> <<str>> <<ATTRIBUTE>> <<ANCHOR>>
<<marker>> <<225:8530-8536>> <<?>> <<ATTRIBUTE>> <<ANCHOR>>
<<s>> <<171:6751-6754>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<l>> <<171:6754-6757>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<t>> <<171:6757-6760>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<s>> <<175:6865-6868>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<l>> <<175:6868-6871>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<t>> <<175:6871-6874>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<self>> <<244:9028-9031>> <<Requirement>> <<PARAMETER>> <<ANCHOR>>
<<self>> <<227:8593-8596>> <<Requirement>> <<PARAMETER>> <<ANCHOR>>
<<parts>> <<228:8609-8614>> <<list>> <<VARIABLE>> <<ANCHOR>>
<<parse_constraint>> <<18:597-613>> <<function>> <<VARIABLE>> <<LINK>>
<<MARKER_EXPR>> <<20:638-649>> <<?>> <<VARIABLE>> <<LINK>>
<<parse_marker>> <<21:672-684>> <<function>> <<VARIABLE>> <<LINK>>
<<ALPHANUM>> <<148:5888-5896>> <<?>> <<VARIABLE>> <<LINK>>
<<PUNCTUATION>> <<148:5911-5922>> <<?>> <<VARIABLE>> <<LINK>>
<<ALPHANUM>> <<148:5926-5934>> <<?>> <<VARIABLE>> <<LINK>>
<<ALPHANUM>> <<149:5958-5966>> <<?>> <<VARIABLE>> <<LINK>>
<<IDENTIFIER_END>> <<149:5980-5994>> <<?>> <<VARIABLE>> <<LINK>>
<<IDENTIFIER>> <<151:6007-6017>> <<?>> <<VARIABLE>> <<LINK>>
<<IDENTIFIER>> <<152:6035-6045>> <<?>> <<VARIABLE>> <<LINK>>
<<AT>> <<155:6085-6087>> <<?>> <<VARIABLE>> <<LINK>>
<<URI>> <<155:6090-6093>> <<?>> <<VARIABLE>> <<LINK>>
<<EXTRA>> <<157:6111-6116>> <<?>> <<VARIABLE>> <<LINK>>
<<COMMA>> <<157:6130-6135>> <<?>> <<VARIABLE>> <<LINK>>
<<EXTRA>> <<157:6138-6143>> <<?>> <<VARIABLE>> <<LINK>>
<<LBRACKET>> <<158:6156-6164>> <<?>> <<VARIABLE>> <<LINK>>
<<EXTRAS_LIST>> <<158:6176-6187>> <<?>> <<VARIABLE>> <<LINK>>
<<RBRACKET>> <<158:6191-6199>> <<?>> <<VARIABLE>> <<LINK>>
<<REGEX>> <<160:6237-6242>> <<str>> <<VARIABLE>> <<LINK>>
<<LEGACY_REGEX>> <<161:6296-6308>> <<str>> <<VARIABLE>> <<LINK>>
<<VERSION_PEP440>> <<163:6355-6369>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_LEGACY>> <<163:6372-6386>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_ONE>> <<165:6417-6428>> <<?>> <<VARIABLE>> <<LINK>>
<<COMMA>> <<165:6442-6447>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_ONE>> <<165:6450-6461>> <<?>> <<VARIABLE>> <<LINK>>
<<LPAREN>> <<167:6539-6545>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_MANY>> <<167:6548-6560>> <<?>> <<VARIABLE>> <<LINK>>
<<RPAREN>> <<167:6563-6569>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_MANY>> <<167:6573-6585>> <<?>> <<VARIABLE>> <<LINK>>
<<_VERSION_SPEC>> <<168:6589-6602>> <<?>> <<VARIABLE>> <<LINK>>
<<_VERSION_SPEC>> <<170:6687-6700>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_SPEC>> <<171:6716-6728>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER_EXPR>> <<173:6799-6810>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER_EXPR>> <<174:6825-6836>> <<?>> <<VARIABLE>> <<LINK>>
<<SEMICOLON>> <<177:6950-6959>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER_SEPARATOR>> <<178:6970-6986>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER_EXPR>> <<178:6989-7000>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_SPEC>> <<180:7025-7037>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER>> <<180:7049-7055>> <<?>> <<VARIABLE>> <<LINK>>
<<URL>> <<181:7075-7078>> <<?>> <<VARIABLE>> <<LINK>>
<<MARKER>> <<181:7090-7096>> <<?>> <<VARIABLE>> <<LINK>>
<<NAME>> <<183:7121-7125>> <<?>> <<VARIABLE>> <<LINK>>
<<EXTRAS>> <<183:7137-7143>> <<?>> <<VARIABLE>> <<LINK>>
<<URL_AND_MARKER>> <<183:7148-7162>> <<?>> <<VARIABLE>> <<LINK>>
<<VERSION_AND_MARKER>> <<183:7165-7183>> <<?>> <<VARIABLE>> <<LINK>>
<<NAMED_REQUIREMENT>> <<185:7216-7233>> <<?>> <<VARIABLE>> <<LINK>>
<<t>> <<168:6634-6635>> <<?>> <<VARIABLE>> <<LINK>>
<<REQUIREMENT>> <<198:7568-7579>> <<?>> <<VARIABLE>> <<LINK>>
<<requirement_string>> <<198:7592-7610>> <<str>> <<VARIABLE>> <<LINK>>
<<req>> <<206:7875-7878>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<206:7863-7867>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<req>> <<207:7896-7899>> <<?>> <<VARIABLE>> <<LINK>>
<<req>> <<208:7949-7952>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<209:7979-7989>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<209:8001-8011>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<210:8046-8056>> <<?>> <<VARIABLE>> <<LINK>>
<<parsed_url>> <<210:8072-8082>> <<?>> <<VARIABLE>> <<LINK>>
<<req>> <<213:8193-8196>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<213:8182-8186>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<self>> <<215:8229-8233>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<url>> <<215:8234-8237>> <<?>> <<VARIABLE>> <<LINK>>
<<req>> <<217:8297-8300>> <<?>> <<VARIABLE>> <<LINK>>
<<req>> <<217:8274-8277>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<217:8256-8260>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<req>> <<218:8339-8342>> <<?>> <<VARIABLE>> <<LINK>>
<<constraint>> <<219:8369-8379>> <<?>> <<VARIABLE>> <<LINK>>
<<parse_constraint>> <<222:8440-8456>> <<function>> <<VARIABLE>> <<LINK>>
<<constraint>> <<222:8457-8467>> <<{str||?}>> <<VARIABLE>> <<LINK>>
<<self>> <<222:8422-8426>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<constraint>> <<223:8503-8513>> <<{str||?}>> <<VARIABLE>> <<LINK>>
<<self>> <<223:8478-8482>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<req>> <<225:8553-8556>> <<?>> <<VARIABLE>> <<LINK>>
<<req>> <<225:8539-8542>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<225:8525-8529>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<t>> <<171:6760-6761>> <<?>> <<VARIABLE>> <<LINK>>
<<parse_marker>> <<175:6874-6886>> <<function>> <<VARIABLE>> <<LINK>>
<<s>> <<175:6887-6888>> <<?>> <<VARIABLE>> <<LINK>>
<<t>> <<175:6889-6890>> <<?>> <<VARIABLE>> <<LINK>>
<<t>> <<175:6909-6910>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<245:9085-9089>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<self>> <<228:8618-8622>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<name>> <<228:8623-8627>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<230:8643-8647>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<extras>> <<230:8648-8654>> <<?>> <<VARIABLE>> <<LINK>>
<<parts>> <<231:8669-8674>> <<list>> <<VARIABLE>> <<LINK>>
<<self>> <<231:8713-8717>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<extras>> <<231:8718-8724>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<233:8743-8747>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<pretty_constraint>> <<233:8748-8765>> <<str>> <<VARIABLE>> <<LINK>>
<<parts>> <<234:8780-8785>> <<list>> <<VARIABLE>> <<LINK>>
<<self>> <<234:8793-8797>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<pretty_constraint>> <<234:8798-8815>> <<str>> <<VARIABLE>> <<LINK>>
<<self>> <<236:8831-8835>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<url>> <<236:8836-8839>> <<?>> <<VARIABLE>> <<LINK>>
<<parts>> <<237:8854-8859>> <<list>> <<VARIABLE>> <<LINK>>
<<self>> <<237:8882-8886>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<url>> <<237:8887-8890>> <<?>> <<VARIABLE>> <<LINK>>
<<self>> <<239:8907-8911>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<marker>> <<239:8912-8918>> <<?>> <<VARIABLE>> <<LINK>>
<<parts>> <<240:8933-8938>> <<list>> <<VARIABLE>> <<LINK>>
<<self>> <<240:8961-8965>> <<Requirement>> <<VARIABLE>> <<LINK>>
<<marker>> <<240:8966-8972>> <<?>> <<VARIABLE>> <<LINK>>
<<parts>> <<242:9001-9006>> <<list>> <<VARIABLE>> <<LINK>>
