<<pathlib>> <<2:15-22>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<pipenv>> <<7:72-78>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<utils>> <<7:79-84>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<pipenv>> <<8:130-136>> <<module>> <<VARIABLE>> <<ANCHOR>>
<<test_auth_with_pw_redacted>> <<14:223-249>> <<function>> <<FUNCTION>> <<ANCHOR>>
<<test_auth_with_username_redacted>> <<29:896-928>> <<function>> <<FUNCTION>> <<ANCHOR>>
<<test_auth_with_pw_are_variables_passed_to_pipfile>> <<44:1552-1601>> <<function>> <<FUNCTION>> <<ANCHOR>>
<<test_auth_with_only_username_variable_passed_to_pipfile>> <<58:2258-2313>> <<function>> <<FUNCTION>> <<ANCHOR>>
<<pipenv_instance_pypi>> <<44:1602-1605>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<45:1670-1671>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<project>> <<47:1711-1718>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<requirements_file>> <<48:1739-1756>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<pipenv_instance_pypi>> <<29:929-932>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<30:997-998>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<project>> <<32:1038-1045>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<requirements_file>> <<33:1066-1083>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<pipenv_instance_pypi>> <<58:2314-2317>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<59:2382-2383>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<project>> <<61:2423-2430>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<requirements_file>> <<62:2451-2468>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<pipenv_instance_pypi>> <<14:250-253>> <<?>> <<PARAMETER>> <<ANCHOR>>
<<p>> <<15:318-319>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<project>> <<17:359-366>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<requirements_file>> <<18:387-404>> <<?>> <<VARIABLE>> <<ANCHOR>>
<<Path>> <<2:30-34>> <<type>> <<VARIABLE>> <<LINK>>
<<pipenv_instance_pypi>> <<45:1634-1654>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<46:1681-1682>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<49:1820-1837>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<50:1939-1956>> <<?>> <<VARIABLE>> <<LINK>>
<<project>> <<51:1993-2000>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<51:2004-2021>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<52:2046-2063>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<53:2085-2086>> <<?>> <<VARIABLE>> <<LINK>>
<<pipenv_instance_pypi>> <<30:961-981>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<31:1008-1009>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<34:1147-1164>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<35:1251-1268>> <<?>> <<VARIABLE>> <<LINK>>
<<project>> <<36:1305-1312>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<36:1316-1333>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<37:1358-1375>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<38:1397-1398>> <<?>> <<VARIABLE>> <<LINK>>
<<pipenv_instance_pypi>> <<59:2346-2366>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<60:2393-2394>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<63:2532-2549>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<64:2640-2657>> <<?>> <<VARIABLE>> <<LINK>>
<<project>> <<65:2694-2701>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<65:2705-2722>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<66:2747-2764>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<67:2786-2787>> <<?>> <<VARIABLE>> <<LINK>>
<<pipenv_instance_pypi>> <<15:282-302>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<16:329-330>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<19:468-485>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<20:582-599>> <<?>> <<VARIABLE>> <<LINK>>
<<project>> <<21:636-643>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<21:647-664>> <<?>> <<VARIABLE>> <<LINK>>
<<requirements_file>> <<22:689-706>> <<?>> <<VARIABLE>> <<LINK>>
<<p>> <<23:728-729>> <<?>> <<VARIABLE>> <<LINK>>
